@media screen and (min-width: 900px) {
  html {
    height: 100%;
  }
}

body {
  width: 100%;
  min-height: 100dvh;
}

main {
  width: 100%;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* #region header */
.html-header {
  width: 100%;
  height: clamp(70px, 8.5dvw, 120px);
  background-color: rgba(231, 108, 31, 1);
  display: flex;
  align-items: center;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-left {
      width: fit-content;
      display: flex;
      gap: 12px;
      align-items: center;

      img {
        width: 34px;
        height: auto;
      }

      p {
        color: white;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0;

        span {
          font-weight: 700;
          font-size: 26px;
          line-height: 80%;
          letter-spacing: 0;
        }
      }
    }

    .header-right {
      display: none;
      width: 45px;
      height: auto;

      @media screen and (min-width: 900px) {
        display: flex;
      }
    }
  }
}

/* #endregion */

/* #region landing-page */
.landing-page {
  height: 100%;
  width: 100%;
  padding-top: 16px;

  @media screen and (min-width: 1440px) {
    padding-top: 0px;
  }
}

.landing-page-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  .landing-page-photos {
    height: 420px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-photo {
      height: 330px;
      width: clamp(300px, 90dvw, 1440px);
      object-fit: cover;
      border-radius: 16px;

      @media screen and (min-width: 1440px) {
        width: 1440px;
        height: 340px;
        border-radius: 0;
      }
    }

    .hero-icon {
      height: clamp(120px, 17dvw, 200px);
      width: clamp(120px, 17dvw, 200px);
      z-index: 1;
      position: absolute;
      bottom: 20px;

      @media screen and (min-width: 1440px) {
        position: absolute;
        bottom: 0px;
      }
    }
  }

  .landing-page-text {
    width: 100%;

    .landing-page-headline {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      @media screen and (min-width: 900px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
      }

      h1 {
        font-family: "Palanquin Dark";
        font-size: clamp(40px, 9dvw, 48px);
        font-weight: 700;

        span {
          font-family: "Palanquin Dark";
          font-size: clamp(40px, 9dvw, 48px);
          color: rgba(231, 108, 31, 1);
        }
      }

      .rating {
        width: 110px;
        height: 32px;
        background-color: rgba(250, 202, 172, 1);
        border-radius: 4px;
        padding: 4px 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 24px;
          height: auto;
        }

        .average-rating {
          font-family: "Palanquin Dark";
          font-weight: 400;
          font-size: 20px;
          line-height: 120%;
        }

        .reviews-count {
          font-size: 18px;
          line-height: 120%;
          color: rgba(54, 53, 52, 1);
        }
      }
    }

    p {
      font-weight: 700;
      font-size: clamp(20px, 5dvw, 28px);
      line-height: 120%;
      text-align: center;
    }
  }
}

/* #endregion */

/* #region menu */

#menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .menu-headline {
    width: 100%;
    height: 60px;
    background-color: rgba(231, 108, 31, 1);
    display: flex;
    justify-content: center;

    .menu-headline-content {
      height: 100%;
      width: 100%;
      max-width: 1040px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;

      @media screen and (min-width: 900px) {
        display: flex;      
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      .menu-headline-icon {
        position: absolute;
        bottom: 35px;

        @media screen and (min-width: 900px) {
          position: relative;
          bottom: 10px;
        }

        img {
          width: 55px;
          height: auto;

          @media screen and (min-width: 900px) {
           width: 88px;
          height: auto;
        }
        }
      }

      h2 {
        color: white;
        font-size: 32px;
        font-weight: 700;
        line-height: 120%;
      }
    }
  }

  .menu-card-wrapper {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 48px;

    @media screen and (min-width: 900px) {
      width: calc(100% - 400px);
    }

    .menu-card {
      width: clamp(294px, 50dvw, 715px);
      background-color: rgba(253, 234, 220, 1);
      border-radius: 12px;
      padding: 16px;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: 900px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
      }

      .menu-card-left {
        @media screen and (min-width: 900px) {
          width: 100%;
          display: flex;
          gap: 16px;
        }

        .menu-img {
          @media screen and (min-width: 900px) {
            display: flex;
            align-items: center;
          }

          img {
            width: 100%;
            height: 86px;
            border-radius: 12px;
            object-fit: cover;

            @media screen and (min-width: 900px) {
              width: clamp(130px, 15dvw, 200px);
              height: 120px;
              border-radius: 12px;
              object-fit: cover;
            }
          }
        }

        .dish-name {
          display: flex;
          flex-direction: column;
          gap: 8px;

          h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 100%;
          }

          p {
            font-weight: 500;
            line-height: 120%;
          }
        }
      }

      .price {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;

        @media screen and (min-width: 900px) {
          display: flex;
          flex-direction: column;
          align-items: end;
        }

        p {
          font-weight: 600;
          font-size: 24px;
          line-height: 120%;
        }

        .basket-button {
          width: 115px;
          height: 30px;
          border-radius: 20px;
          padding: 5px 8px;
          background-color: rgba(255, 255, 255, 1);

          p {
            font-weight: 600;
            line-height: 120%;
            font-size: 16px;
          }

          p:active {
            color: rgba(231, 108, 31, 1);
          }
        }
      }
    }
  }
}
/* #endregion */

/* #region navbar */
.nav-wrapper {
  width: 100%;
  height: 70px;
  background-color: rgba(54, 53, 52, 1);
  display: flex;
  align-items: center;
  z-index: 2000;
  position: fixed;
  bottom: 0;

  @media screen and (min-width: 900px) {
    display: none;
  }

  .nav-list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      .nav-link {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }

    .shopping-cart {
      .circle-flag {
        background-color: rgba(253, 234, 220, 1);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        bottom: 70%;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .item-count {
          color: rgba(231, 108, 31, 1);
          font-family: "Figtree";
          font-size: 10px;
          font-weight: 600;
          line-height: 120%;
        }
      }
    }
  }
}

/* #endregion */

/* #region footer */
footer {
  width: 100%;
  height: 125px;
  background-color: rgba(231, 108, 31, 1);
  margin-bottom: 70px;

  @media screen and (min-width) {
    margin-bottom: 0;
  }
}

.footer-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 900px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    justify-content: center;
    height: 125px;
  }

  p {
    color: white;
    font-size: 18px;
  }

  div {
    display: flex;
    gap: 6px;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

/* #endregion */

.impressum-info{
  width: 100%;
  height: 8dvw;

  p{
      font-weight: 400;
      font-size: 32px;
  }

}
